body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(73, 73, 73);
    text-align: center;
    color: white;
    
  }
  
  /*main styles*/
  
  .boxshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .bgmaincolor {
    background-color: #2e8b57;
  }
  
  .bgmaincolor1 {
    background-color: #28774a;
  }
  
  .whiteborder {
    border: 1px solid white;
  }
  
  .whiteborderbottom {
    border-bottom: 1px solid white;
  }
  
  .mbottom {
    margin: 0 auto 2.5em;
  }
  
  .nav-text {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  
  /*NAVIGATION 0.1*/
  
  .nav_img {
    transition: 0.3s;
    z-index: 1;
    justify-self: end;
    grid-row: 1;
    grid-column: 3;
  }
  
  .nav_img img:hover{
    background-color: #28774a;
    cursor: pointer;
  }
  
  .nav_img img {
    width: 2.7em;
    margin: 0em 0.4em;
    transition: 0.3s;
    aspect-ratio: 1, 1;
    border-radius: 50%;
  }
  
  nav {
    height: 3.6em;width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
  }
  
  .search-bar {
    z-index: 1000000;
    opacity: 0;
    text-align: left;
  }
  
  .submit-button {
    background-color: #28774a;
    border: none;
    margin: -0.5em 0 1.5em 0.2em;
    transition: 0.3s;
    font-size: 1em;
  }
  
  .submit-button:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.7;
  }
  
  .nav-input {
    color: black;
    font-size: 1.1em;
    height: 1.2em;
  }
  
  .nav_li{
    display: grid;
    text-align: left;
    position: absolute;
    width: 100%; height: max-content;
    top: 100%;left: 0;
    transform: scale(1, 0);transform-origin: top;transition: transform 0.3s;
    padding: 1.5em 1em 0;
  }
  
  .nav-a {
    text-decoration: none;
    transition: 0.3s;
  }
  
  .mob-nav-text {
    margin-bottom: 0.75em;
    width: min-content;
  }
  
  .nav-a:hover {
    color: #ffffff9f;
    text-decoration: underline;
  }
  
  .nav_li_toggle {
    display: none;
  }
  
  .li_toggle_label {
    background-image: url('../photos/Untitled 17.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 3.5em;
    height: 3.6em;
    display: flex;
    align-items: center;
    transform: 0.3s;
  }
  
  .li_toggle_label:hover {
    background-color: #28774a;
    cursor: pointer;
  }
  
  
  .nav_li_toggle:checked ~ .nav_li {
    transform: scale(1,1);
  }
  
  .nav_li_toggle:checked ~ .nav_li .close-nav-label {
    display: block;
  }
  
  .nav_li_toggle:checked ~ .li_toggle_label {
    background-image: url('../photos/Untitled18.svg');
    background-color: #28774a;
    transform: rotate(0.5turn);
    transition: 0.2s;
  }
  
  .nav_li_toggle:checked ~ .nav-li .search-bar {
    opacity: 1;
  }
  
  .close-nav-label {
    position: absolute;
    transform-origin: none;
    top: 100%;
    width: 100%;
    height: 200%;
    background-color: rgb(66, 66, 66);
    opacity: 50%;
    display: none;
  }
  
  .input-field {
    font-size: 1em;
    margin-bottom: 1em;
  }
  
  .toggled-search {
    grid-row: 1;
    grid-column: 1;
    width: 150%;
    justify-self: end;
    transform: scale(1, 0);transform-origin: left;transition: transform 325ms ease-in-out;
  }
  
  @media only screen and (min-width: 880px) {
    .li_toggle_label {
      display: none;
    }
  
    .nav_li {
      display: none;
    }
  
    .nav-desktop {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      width: min-content;
    }
  
    .nav-a {
      text-decoration: none;
      width: 4em;
      height: 100%;
      padding: 0.9em 0.6em;
      text-transform: uppercase;
    }
  
    .mob-nav-text {
      margin: 0;
      width: auto;
    }
  
    .search-toggle {
      display: none;
    }
  
    .search-toggle-label {
      background-image: url('../photos/mag-glass.png');
      background-position: center;
      aspect-ratio: 1 / 1;
      width: 56px;
      height: 3.30em;
      display: flex;
      align-items: center;
      transition: 0.3s;
      grid-row: 1;
      grid-column: 1;
      justify-self: start;
      z-index: 10000;
    }
  
    .search-toggle-label:hover {
      background-color: #28774a;
      cursor: pointer;
    }
  
    .toggled-search {
      grid-row: 1;
      grid-column: 2;
      width: 100%;
      justify-self: end;
      transform: scale(0, 1);transform-origin: left;transition: transform 0.1s ease-in-out;
      opacity: 0.5;
    }
  
    .desktop-input {
      max-width: 100%;
      font-size: 1.1em;
      z-index: 100;
      float: left;
      margin: 0 0.2em 
    }
  
    .nav-a:hover{
      background-color: #28774a;
      transition: 0.3s;
      text-decoration: underline;
      cursor: pointer;
    }
  
    .search-toggle:checked ~ .toggled-search {
      transform: scale(1,1);
      opacity: 1;
    }
  
  }
  
  @media only screen and (max-width: 879px) {
    .nav-desktop {
      display: none;
    }
  
    .li_toggle_label:hover {
      background-color: #2e8b57;
    }
  
    .nav_li .mob-nav-text {
      opacity: 0;
    }
  
    .search-toggle, .search-toggle-label {
      display: none;
    }
  
    .toggled-search {
      display: none;
    }
  
    .nav_li_toggle:checked ~ .nav_li .mob-nav-text {
      opacity: 1;
      transition: opacity 0.1s ease-in-out 0.1s;
    }
  
    .nav_li_toggle:checked ~ .nav_li .search-bar {
      opacity: 1;
      transition: opacity 0.1s ease-in-out 0.1s;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .submit-button {
      margin: 0.5em 0 2em;
    }
  }

/*HERO mainpage*/

.heroimg {
    height: 31.5rem;width: 100%;
    background-image: url('https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80');background-position: center;background-repeat: no-repeat;background-size: cover;
    margin-top: 1em; margin-bottom: 15.75rem;
    display: block;
    color: white;
    font-size: 2em;
    position: absolute;
    left: 0;right: 0; top: 1;
}

.heroimg h1 {
    margin-top: 11.5rem;
}

.buttons .herobutton {
    font-size: 1.3rem;
    color: white;
    height: 4rem; width: 23%;
    border-radius: 10px;
    margin: 0 0.2em;
    background-color: #2e8b57;
    border: none;
}

.buttons .herobutton:hover {
    transition: opacity 0.3s;
    opacity: 0.75;
    text-decoration: underline;
}

.underhero {
    margin-bottom: 2rem;
}

/*class for underline: USED ONCE*/

.underline {
    height: 2px; width: 80%;
    background-color: white;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 2em;
}

#message {
   font-size: 1.3rem;
   margin: 2em;
   margin: 37rem 0 2rem;
}

/*loginpage*/

.formbox {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #2e8b57;
    padding: 50px;
    border-radius: 10px;
}

form input, form button {
    width: 227px; height: 23px;
}

/*grid mainpage*/
/*Class used for every item that spans*/

.col-span-2 {
    grid-column: span 2;
}

.boxgrid {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 0.5rem;
}

.gridboxtop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid white;
}

.username {
    font-size: 0.7em;
    text-transform: lowercase;
}

.profile-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;margin-left: 10px;
    border: 1px solid white;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.boxsubject {
    max-width: 95%;
    margin: 2em auto 2em;
}

.box p {
    text-transform: lowercase;
    margin: 0 auto 2em;
    max-width: 95%;
}

.postimg {
    inline-size: 90%;
    border: 1px solid white;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin: 0 0 2em;
}

.imgcap {
    text-decoration: underline;
}

.imgcap:hover, .imgcap:active {
    transition: opacity 0.3s;
    opacity: 0.75;
}

.box {
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #28774a;
    text-align: center; 
    margin-bottom: 1em;
    border-radius: 10px;
}

.box4 {
    grid-column: 4;
    grid-row: 1 / 3;
}

/*media scrollbar*/

.imgscroller {
    display: flex;
    grid-auto-columns: 21%;
    margin-top: 1em;
    padding: 2rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 2rem 2rem;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline-start: 0.5rem;
    scroll-padding-inline-end: 0.5rem;
}

.imgscroller > * {
    scroll-snap-align: start;
}

.imgbox {
    display: grid;
    grid-template-rows: min-content;
    margin: 1em;
    padding: 2rem;
    background: #28774a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
 
.imgbox img {
    inline-size: 100%;
    min-width: 22em;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border: 1px solid white;
}

/*text*/

.card {
    max-width: 60%;
    margin: auto;
    margin-top: 2rem;
    line-height: 1.4em;
    margin-bottom: 2em;
}

/*Goodday page*/

.gooddaypage {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: white;
}

a {
    color: white;
}

.message, .message1 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1em;
    transition: 0.5s;
    cursor: pointer;
    font-size: 2em;
    border-radius: 10px;
}

.message:hover,.message1:hover, .message:active, .message1:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(78, 78, 78);
    transition: 0.5s;
    padding: 1.1em;
}

@media only screen and (max-width: 470px) {
    .message, .message1 {
        padding: 0.5em;
    }

    .message:hover,.message1:hover, .message:active, .message1:active {
        padding: 0.6em;
    }
}

@media only screen and (max-width: 1000px) {
    .li_toggle_label:hover {
        background-color: #2e8b57;
    }

    .button button {
        height: 4rem; width: 25%;
    }

    form input, form button {
        width: 190px; height: 23px;
    }

    .table {
        display: none;
    }

    .boxgrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        grid-column: span 2;
    }

    .box2, .box3 {
        display: none;
    }

    .imgbox img {
        min-width: 15em;
    }
}
